/* *блок PAGE* */
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", "Arial", sans-serif;
  min-height: 100%;
  overflow: hidden;
  color: #000000;
}

/* *блок HEADER* */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
	/* рекомендация ревью - margin-left: 64px
	!По заданию для смещения элемента вправо
	!нужно использовать отступ, а не позиционирование.
	!Свойства position и left нужно заменить на margin-left
	в этом моменте использовал полный margin
	что бы сбросить не нужный отступ */
  margin: 0px 0px 0px 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}

/* *блок DESCRIPTION* */
.description {
  padding: 100px 0px 0px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  flex-direction: column;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-child) {
  margin: 0px 0px 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* *блок DIGITS* */
.digits {
  padding: 100px 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  width: 60%;
  margin: 0px auto 20px;
  position: relative;
  z-index: 1;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: 0px auto;
  position: relative;
  z-index: 1;
}

.table {
  max-width: 1100px;
  margin: 0px auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.table__cell {
  width: 250px;
  margin: 60px 0px 0px 0px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
	margin: 0;
}

.table__text:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

/* *блок FAYNMAN* */
.feynman {
  box-sizing: border-box;
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
  padding: 100px 0px 0px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  position: relative;
  margin: 0px auto;
  z-index: 1;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin: 70px auto 0px;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  z-index: 1;
}

.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* *блок KAUFMAN* */
.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.kaufman__triangle {
  background-image: url(/images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_them_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0px 0px;
  z-index: 1;
}

/* *блок FOOTER* */
.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  padding: 60px 0px 40px;
  position: relative;
  height: 350px;
}

.footer__columns {
  margin: 0px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  block-size: 100%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 18px 0px;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  margin: 20px 0px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  display: flex;
}

.footer__social-icon {
  text-decoration: none;
  display: flex;
  margin: auto 10px auto 0px;
  height: 16px;
  width: 16px;
}
